/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar .logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links li a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.nav-links li a:hover {
    color: #555;
}

/* Hero Section */
.hero {
    background-image: url('logo2.jpeg');
    background-size: auto;
    background-position: center;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.hero-text {
    color: purple;
}

.hero h1 {
    font-size: 50px;
    margin: 0;
}

.hero p {
    font-size: 20px;
    margin: 10px 0;
}

.btn {
    display: inline-block;
    padding: 12px 25px;
    background-color: gray;
    color: white;
    text-decoration: none;
    margin-top: 20px;
    transition: 0.3s;
   justify-content: center;
}

.btn:hover {
    background-color: black;
}

/* Products Section */
.products {
    padding: 50px 20px;
    text-align: center;
}

.products h2 {
    font-size: 36px;
    margin-bottom: 30px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
}

.product-card {
    border: 1px solid #eee;
    padding: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.product-card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 15px black;
}

.product-card img {
    width: 100%;
    height: auto;
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 2000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.7);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 30px;
    width: 400px;
    position: relative;
    text-align: center;
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 25px;
    cursor: pointer;
}


/* New Arrival */
 .new {
    color :blue;
    text-align: center;
 }

 /*  About*/
  .about {
     color: blueviolet;
     text-align: center;
  }


  .zara {
      background-size: cover;      
  background-position: center;  
  background-repeat: auto; 
  /* height: 50%;                 */
  /* width: 80%;                  */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;

  }


  